{% extends 'blank_layout.html' %}
{% load static %}
{% block content %}

{% for obj in recent_movies %}
<p>{{obj.title | upper}}</p>
{% endfor %}


<h1>List Movies {{ visits }} time visited </h1>
<table>
    <tr><th>title</th><th>Description</th><th>Year</th><th>edit/delete</th></tr>
    {% for obj in movies %}
<tr>
    <td>
        <h1>Title :{{obj.title | upper}}</h1>
                
    </td>
<td><p>Summary:{{obj.description | default:'No data available'}}</p></td>
<td><h4>Year:{{obj.year}}</h4></td>
<td><a href="{% url 'edit' obj.id %}">edit</a>/<a href="{% url 'delete' obj.id %}">delete</a></td>

</tr>
{% endfor %}
</table>
{% endblock content %}
